/* custom CSS for colours */

/* custom background color */
body {
    background-color: #abcdef;
    padding-bottom: 60px;
    min-height: 100%;
}
/* heading style */
h1 {
    font-family: monospace;
    color: #80B3E7;
}
/* navbar appearance customisations */
.bg-custom {
    background-color: #CDEFAB;
    font-family: monospace;
}
.bg-custom .navbar-brand{
    color: #80b3e7;
    font-size: 18pt;
}
.bg-custom .nav-link{
    color: #444444;
    font-size: 12pt;
}
.bg-custom .active{
    color: #000000;
    font-weight: bolder;
}