/* custom CSS for colours */

/* custom background color */
body {
    background-color: #f6f6f6;
    margin-bottom: 120px;
    min-height: 100%;
    color: #3e3e3e;
}
/* heading style */
h1 {
    font-family: monospace;
    color: #992727;
}
/* navbar appearance customisations */
.bg-custom {
    background-color: #004080;
    font-family: monospace;
}
.bg-custom .navbar-brand{
    color: #80b3e7;
    font-size: 1.5rem;
}
.bg-custom .nav-link {
    font-size: 1rem;
}

.footer {
    bottom: 0px;
    position: fixed;
    margin-bottom: 0;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #80b3e7;
    color: #f6f6f6;
    font-family: monospace;
    font-size: 12pt;
}