/* custom CSS for colours */

/* custom background color */
body {
    background-color: #f6f6f6;
    margin-bottom: 120px;
    min-height: 100%;
    color: #3e3e3e;
}
/* heading styles */
h1 {
    font-family: monospace;
    color: #992727;
}

h3, h4, h5 {
    font-family: monospace;
    font-weight: bold;
    color: #004080;
}

/* navbar appearance customisations */
.bg-custom {
    background-color: #004080;
    font-family: monospace;
}
.bg-custom .navbar-brand{
    color: #80b3e7;
    font-size: 1.5rem;
}
.bg-custom .nav-link {
    font-size: 1rem;
}

.btn-cust-red {
    background-color: #992727;
    color: #f6f6f6;
    opacity:85%;
}

.btn-cust-blue {
    background-color: #004080;
    color: #f6f6f6;
    opacity: 85%;
}

.btn-cust-red:hover {
    background-color: #992727;
    color: #ffffff;
    opacity: 100%;
}

.btn-cust-blue:hover {
    background-color: #004080;
    color: #ffffff;
    opacity: 100%;
}

.footer {
    bottom: 0px;
    position: fixed;
    margin-bottom: 0;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #80b3e7;
    color: #f6f6f6;
    font-family: monospace;
    font-size: 12pt;
}